<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ProjectBaseDirectory" value="212SeeTestProject"/>
    <add key="ReporterFolder" value="C:\\SeeTestReports"/>
    <add key ="AppName" value="2-12iOS"/>
    <add key ="LaunchingAppName" value="com.pearson.commoncore.f-UpgradeTesting"/>
    <add key ="OS" value ="iOS"/>

    <add key ="IsParallelTestExecution" value ="false"/>
    <add key="SeeTestDeviceName" value="ios_app:Lab11_Ipad"/>
    <add key ="Host" value="localhost"/>
    <add key ="DeviceName" value="HCL_Kiran_Ipad"/>
    <add key ="ConnectedOver" value ="USB"/>
    <add key ="Version" value ="7.7.2"/>
    <add key ="SmallWaitTime" value="10000"/>
    <add key ="MediumWaitTime" value="20000"/>
    <add key ="LargeWaitTime" value="30000"/>
    <add key ="WaitTimeMultiplier" value="1"/>
  </appSettings>
</configuration>